<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hui_WPF.Properties.Settings___复制" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Hui_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Hui_WPF.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Hui_WPF.Properties.Settings___复制>
            <setting name="UserLanguage" serializeAs="String">
                <value>zh</value>
            </setting>
        </Hui_WPF.Properties.Settings___复制>
        <Hui_WPF.Settings>
            <setting name="UserLanguage" serializeAs="String">
                <value>zh</value>
            </setting>
            <setting name="UserTimestampFormat" serializeAs="String">
                <value>yyyyMMdd_HHmmss</value>
            </setting>
            <setting name="UserEnableTimestamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserCounterFormat" serializeAs="String">
                <value>D3</value>
            </setting>
            <setting name="UserCounterStartValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UserEnableCounter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserImageOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UserVideoOutputPath" serializeAs="String">
                <value />
            </setting>
        </Hui_WPF.Settings>
    </userSettings>
</configuration>